.error {
    color: red;
}
body {
    color: white;
    font-family: monospace;
    font-size: 20px;
}
#pageTitle {
    position: absolute;
    text-align: center;
    font-size: 30px;
    height: 40px;
    left: 10%;
    right: 10%;
    border-bottom: .25px solid #ffd000;
    padding: 10px 0px 0px 0px;
    font-weight: 600;
}
#focusDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .25px solid #ffd000;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    padding: 15px 15px;
}
table, th, td, tr {
    font-size: 15px;
    border-collapse: collapse;
    border: 1px solid #ffd000;
    margin: 10px;
}
table {
    border-collapse: collapse;
    border: 5px solid #ffd000;
}
/*tr:nth-child(even) {
    background-color: white;
    color: black;
}*/
input[type=text],[type=password] {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px;
    border: none;
    border-bottom: 1px solid #ffd000;
    background-color: black;
    color: white;
}
input[type=submit] {
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: black;
    width: 200px;
    border: none;
    border-right: 2px solid #ffd000;
    border-left: 2px solid #ffd000;
    color: white;
    padding: 16px 0px;
    cursor: pointer;
    font-size: 15px;
    font-family: monospace;
}
button {
    background-color: black;
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-right: 2px solid #ffd000;
    border-left: 2px solid #ffd000;
    color: white;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: monospace;
}
#totalEscorts {
    position: absolute;
    font-size: 15px;
    bottom: -20px;
}
#errorDivContainer {
    position: absolute;
    height: 200px;
    width: 400px;
    bottom: -203px;
}
#errorDiv {
    position: absolute;
    top: 0;
    color: red;
    font-size: 15px;
    text-align: left;
}
.changeFormOption {
    font-size: 15px;
    float: left;
    padding: 5px;
    width: 120px;
    font-weight: bold;
    cursor: pointer;
    
    border-bottom: 2px solid #ffd000;
    background: black;
    color: white;
    box-sizing: border-box;
}
.changeFormOption:hover, #active {
    background: #ffd000;
    color: black;
    font-weight: bold;
}
#subMenuDiv {
    margin:15px;
}
.homeButton {
    font-size: 20px;
    width: 150px;
    height:100px;
}
#loginDiv, #registerDiv {
    text-align: center;
    height: 300px;
    width: 200px;
    background: #ffd000;
    float: left;
}