@import "_layout"; 
@import "_buttons"; 
@import "_media"; 

.error {
    color: red;
}

.success {
    color: lawngreen;
}

.instruction {
    font-size: 15px;
}

body {
    color: white;
    font-family: monospace;
    font-size: 20px;
}

input[type=text],[type=password], [type=time], select {
    margin: 5px 0;
    padding: 5px 5px;
    border: none;
    border-bottom: 1px solid #ffd000;
    background-color: black;
    color: white;
}
select {
    width: 179px;
}
[type=time] {
    margin: 0;
    border: none;
}

table, th, td, tr {
    font-size: 15px;
    border-collapse: collapse;
    border: 1px solid #ffd000;
    margin: 10px;
}

table {
    width: 1px; //for whatever reason this keeps the width of the table relative
}

#subMenu {
    display: flex;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display:inline-block;
    overflow: visible;
    padding: 10px;
}

li {
    display: block;
    color: black; 
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li:hover, li.active {       
    background-color: black;
    color: white;
    opacity: 1;
}

#addLocationDestinationContainer > *, #addPickUpPointContainer > *, #deleteLocationDestinationContainer > *, #deletePickUpPointContainer > * {
    display: block;
    margin: 15px auto;
}

#addLocationDestinationContainer > a, #addPickUpPointContainer > a, #deleteLocationDestinationContainer > a, #deletePickUpPointContainer > a {
    font-size: 15px;
}

#passwordFieldContainer, #phoneNumberContainer, form {
    display: flex;
    flex-direction: column;
    align-items: center;
}