<div id="viewTitle">Request an Escort</div>
<div class="viewMessage">Submit the form below to request an escort.</div>
<div id="viewContent">
    <div id="responseContainer">
        <div id="response"></div>
    </div>
	<form>
        <div>
		    &nbsp<input type="text" name="numberInParty" placeholder="Number in Party"><span class="error">*</span>
        </div>
        <div>
            &nbsp<select name="location">
                <option disabled selected>Location</option>
            </select><span class="error">*</span>
        </div>
        <div id="pickUpPointContainer">
            &nbsp<select name="pickUpPoint">
                <option disabled selected>Pick-up Point</option>
            </select><span class="error">*</span>
        </div>
        <div>
            &nbsp<select name="destination">
                <option disabled selected>Destination</option>
            </select><span class="error">*</span>
        </div>
        <div>
		    &nbsp<input type="text" name="phoneNumber" value="hil" placeholder="Phone Number" maxlength="10" ><span class="error">*</span>
        </div>
        <div>
            <input type="submit" name="submit" value="Submit">
        </div>
	</form>
</div>

<script>
var $numberInPartyField   = $('input[name="numberInParty"]'),
    $locationField        = $('select[name="location"]'),
    $pickUpPointField     = $('select[name="pickUpPoint"]'),
    $destinationField     = $('select[name="destination"]'),
    $phoneNumberField     = $('input[name="phoneNumber"]'),
    $response             = $('#response'),
    $pickUpPointContainer = $('#pickUpPointContainer');

//to populate phone number field with current phone number
$.post('php/Get_Phone_Number.php')
.done(function(phoneNumber) {
    $phoneNumberField.val(phoneNumber);
});

$.post('php/Get_Campus_Locations.php')
.done(function(listOfLocations) {
    listOfLocations = JSON.parse(listOfLocations);
    userInterface.populateSelectOptions($locationField, listOfLocations);
    userInterface.populateSelectOptions($destinationField, listOfLocations);
});

$pickUpPointContainer.hide();
$locationField.on('change', function() {
    $.post('php/Get_Pick_Up_Points.php', 
        {
            location: $locationField.val()
        }
    )
    .done(function(pickUpPoints) {
        pickUpPoints = JSON.parse(pickUpPoints);
        if (pickUpPoints.length > 0) {
            $pickUpPointContainer.show();
            //clear non-disabled options
            userInterface.populateSelectOptions($pickUpPointField, pickUpPoints);
        } else {
            $pickUpPointContainer.hide();
        }
    });
});

$('form').submit(function() {
    $.post('php/Escorts/Request_Escort.php', 
        {
            numberInParty:  $numberInPartyField.val(),
            location:       $locationField.val(),
            pickUpPoint:    $pickUpPointField.val(),
            destination:    $destinationField.val(),
            pickUpPoint:    $pickUpPointField.val(),
            phoneNumber:    $phoneNumberField.val()
        }
    )
    .done(function(errorMessages) {
        errorMessages = JSON.parse(errorMessages);
        if (errorMessages.length == 0) {
            userInterface.loadContent('view_escorts');
        } else 
            userInterface.writeErrorResponse(
                $response, 
                userInterface.arrayToHTML(errorMessages)
            );
        
    })
    .fail(function() {
        userInterface.writeErrorResponse($response, 'Error connecting to server');
    });
    return false;   //prevents refresh on form submit
});
</script>