<div id="viewTitle">Request an Escort</div>
<div class="viewMessage">Submit the form below to request an escort.</div>
<div id="viewContent">
    <div id="responseContainer">
        <div id="response"></div>
    </div>
	<form>
		&nbsp&nbsp<input type="text" name="numberInParty" placeholder="Number in Party"><span class=error>*</span>
		<br>
        &nbsp&nbsp<select name="location">
            <option disabled selected>Location</option>
        </select><span class=error>*</span>
		<br>
		&nbsp&nbsp<input type="text" name="comments" maxlength="100" placeholder="Location Details">&nbsp
		<br>
		&nbsp&nbsp<select name="destination">
            <option disabled selected>Destination</option>
        </select><span class=error>*</span>
		<br>
		&nbsp&nbsp<input type="text" name="phoneNumber" placeholder="Phone Number" maxlength="10" ><span class=error>*</span>
		<br>
		<input type="submit" name="submit" value="Submit">
	</form>
</div>

<script>
var $numberInPartyField = $('input[name="numberInParty"]'),
    $locationField      = $('select[name="location"]'),
    $destinationField   = $('select[name="destination"]'),
    $commentsField      = $('input[name="comments"]'),
    $phoneNumberField   = $('input[name="phoneNumber"]'),
    $response           = $('#response');

//to populate phone number field with current phone number
$.post('php/Get_Phone_Number.php')
.done(function(phoneNumber) {
    $phoneNumberField.val(phoneNumber);
});

$.post('php/Get_Campus_Locations.php')
.done(function(listOfLocations) {
    listOfLocations = JSON.parse(listOfLocations);
    userInterface.populateSelectOptions($locationField, listOfLocations);
    userInterface.populateSelectOptions($destinationField, listOfLocations);
});

$('form').submit(function() {
    $.post('php/Escorts/Request_Escort.php', 
        {
            numberInParty:  $numberInPartyField.val(),
            location:       $locationField.val(),
            destination:    $destinationField.val(),
            comments:       $commentsField.val(),
            phoneNumber:    $phoneNumberField.val()
        }
    )
    .done(function(errorMessages) {
        errorMessages = JSON.parse(errorMessages);
        if (errorMessages.length == 0) {
            userInterface.loadContent('view_escorts');
        } else 
            userInterface.writeErrorResponse(
                $response, 
                userInterface.arrayToHTML(errorMessages)
            );
        
    })
    .fail(function() {
        userInterface.writeErrorResponse($response, 'Error connecting to server');
    });
    return false;   //prevents refresh on form submit
});
</script>