<div id="viewTitle">Escorts</div>
<div id="viewContent">
    <table width="60%" border="1px"></table>
    <button id="previousButton">Previous</button>
    <button id="nextButton">Next</button>
</div>
<script>
    var MAX_ROWS = 3; 
    var startEscortNumber = 0;
    var userType;
    userInterface.getUserType(function(data) {
        userType = data;
    });

    loadEscorts(startEscortNumber);

    //used to set initial timer and reset it after clicking next and previous buttons
    function resetRefreshTimer() {
        clearInterval(userInterface.refreshTimer);
        // startEscortNumber = 0;
        userInterface.refreshTimer = setInterval(
            function() {
                startEscortNumber = 0;
                loadEscorts(startEscortNumber);
            }, 
            10000
        );
    }
    resetRefreshTimer();

    var $tableContainer = $('table'),
        $previousButton = $('#previousButton'),
        $nextButton = $('#nextButton');

    $previousButton.on('click', function() {
        startEscortNumber -= MAX_ROWS;
        loadEscorts(startEscortNumber);
        resetRefreshTimer();
    });

    $nextButton.on('click', function() {
        startEscortNumber += MAX_ROWS;
        loadEscorts(startEscortNumber);
        if ($previousButton.is(':hidden'))
            $previousButton.show();
        resetRefreshTimer();
    });

    function loadEscorts(start) {
        $.post('php/Escorts/Get_Escorts.php',
            {
                start:   start,
                maxRows: MAX_ROWS
            }
        )
        .done(function(escortList) {
            escortList = JSON.parse(escortList);
            if (start <= 0)          //when displaying the first escorts
                $previousButton.hide();          //hide the previous button
            if (escortList.length == 0)          //when no escorts are returned, hide next 
                $nextButton.hide();              //button because there are no more escorts
            else if ($nextButton.is(':hidden'))     //if there are escorts and button is hidden
                $nextButton.show();                 //show button
            var html = 
                "<tr>" +
                    "<th>Last Modified</th>" +
                    "<th>Location</th>" +
                    "<th>Pick Up Point</th>" +
                    "<th>Destination</th>" +
                    "<th>First Name</th>" +
                    "<th>Last Name</th>" +
                    "<th>EID</th>" +
                    "<th>Number in Party</th>" +
                    "<th>Phone Number</th>" +
                    "<th>Status</th>" +
                "</tr>";
                $tableContainer.html(html);
            for (var i = 0; i < escortList.length; i++) {
                var buttons = '';
                if (escortList[i].status == "Requested") {
                    if (userType == 'authoritarian') {
                        var buttons = '';
                        buttons += '<button onclick="changeStatus(' + escortList[i].id + ', 1)">Dispatch</button>';
                        buttons += '<button onclick="changeStatus(' + escortList[i].id + ', 2)">Cancel</button>';
                    } else //userType == user
                        buttons += '<button onclick="changeStatus(' + escortList[i].id + ', 3)">Cancel</button>';
                }
                html =
                    "<tr>" +
                        "<td>" + escortList[i].dateTimeChanged  + "</td>" +
                        "<td>" + escortList[i].location         + "</td>" +
                        "<td>" + escortList[i].pickUpPoint      + "</td>" +
                        "<td>" + escortList[i].destination      + "</td>" +
                        "<td>" + escortList[i].firstName        + "</td>" +
                        "<td>" + escortList[i].lastName         + "</td>" +
                        "<td>" + escortList[i].eid              + "</td>" +
                        "<td>" + escortList[i].numberInParty    + "</td>" +
                        "<td>" + escortList[i].phoneNumber      + "</td>" +
                        "<td>" + escortList[i].status + buttons + "</td>" +
                    "</tr>";
                $tableContainer.append(html);
            }
        })
    }
    
    function changeStatus(id, newStatusID) {
        $.post('php/Escorts/Change_Status.php', 
            {
                escortID: id,
                newEscortStatusID: newStatusID
            }
        )
        .done(function(wasSuccessful) {
            if (wasSuccessful) {
                loadEscorts(0);
            }
        });
    }
</script>