<div id="viewTitle">Settings</div>
<div id="viewContent">
    <div id="responseContainer">
        <div id="response"></div>
    </div>
    <ul id="subMenu">
        <li id="passwordButton">Change Password</li>
        <li id="phoneNumberButton">Change Phone Number</li>
    </ul>
    <form>
        <div id="passwordFieldContainer">
            <input type="password" placeholder="Current Password" name="currentPassword">
            <input type="password" placeholder="New Password" name="newPassword">
            <input type="password" placeholder="Confirm Password" name="confirmPassword">
        </div>
        <div id="phoneNumberContainer">
            <input type="text" name="newPhoneNumber" placeholder="New Phone Number">
        </div>
        <input type="submit" value="Submit">
    </form>
    <div id="responseContainer">    <!-- should be renamed to something like message container-->
        <div id="response"></div>
    </div>
</div> <!--viewContent-->


<script>
//jQuery var declarations
var $response   = $('#response'),
    
    //field containers
    $passwordFieldContainer = $('#passwordFieldContainer'),
    $phoneNumberContainer   = $('#phoneNumberContainer'),

    //settings buttons
    $passwordButton    = $('#passwordButton'),
    $phoneNumberButton = $('#phoneNumberButton'),

    //fields
    $currentPassword = $('input[name="currentPassword"]'),
    $newPassword     = $('input[name="newPassword"]'),
    $confirmPassword = $('input[name="confirmPassword"]'),
    $newPhoneNumber  = $('input[name="newPhoneNumber"]');

$passwordButton.on('click', function() {
    $passwordButton.attr("class", "active");
    $phoneNumberButton.removeAttr("class");
    $phoneNumberContainer.hide();
    $passwordFieldContainer.show();
    $response.empty();
});

$phoneNumberButton.on('click', function() {
    $phoneNumberButton.attr("class", "active");
    $passwordButton.removeAttr("class");
    $passwordFieldContainer.hide();
    $phoneNumberContainer.show();
    $response.empty();
});

//populate phone number field with current phone number
$.post('php/Get_Phone_Number.php')
.done(function(phoneNumber) {
    $newPhoneNumber.val(phoneNumber);
});

$passwordButton.click();

/*
* form submission
*/
$('form').submit(function() {
    //setting url and data to send based on which fields are visible
    if ($passwordFieldContainer.is(':visible')) {
        var url = 'php/Settings/Change_Password.php';
        var dataToSend = {
            currentPassword: $currentPassword.val(),
            newPassword:     $newPassword.val(),
            confirmPassword: $confirmPassword.val()
        }
    } else {    //phoneNumberContainer is visible
        var url = 'php/Settings/Change_Phone_Number.php';
        var dataToSend = {
            newPhoneNumber: $newPhoneNumber.val()
        }
    }
    
    //sending and receving the data
    $.post(url, dataToSend)
    .done(function(errorMessages) {
        console.log(errorMessages);
        errorMessages = JSON.parse(errorMessages);  
            $response.empty();
        if (errorMessages.length == 0)
            userInterface.writeSuccessResponse($response, 'Change was successful');
        else  //there are error messages
            userInterface.writeErrorResponse($response, userInterface.arrayToHTML(errorMessages));
    });
    
    return false;   //prevents refresh on form submit
});
</script>