<div id="viewTitle">Email Verification</div>
<div id="viewContent">
    <div id="responseContainer">
        <div id="response"></div>
    </div>
	<form>
		&nbsp<input type="text" name="verificationCode" placeholder="Verification Code">
		<br>
		<input type="submit" value="Verify">
		<br>
		<input type="submit" value="Send Code Again">
	</form>
</div>

<script>
var $verificationCodeField = $('input[name="verificationCode"]'),
    $response = $('#response');

$('form').submit(function() {
    $.post('php/Email_Verification/Check_Code.php', 
        {
            enteredCode: $verificationCodeField.val(),
        }
    )
    .done(function(errorMessages) {
        errorMessages = JSON.parse(errorMessages);
        if (errorMessages.length == 0) {
            userInterface.refreshMenu();
            userInterface.loadContent('accountSettings');
        } else {
            $response.html(errorMessages);
        }
    })
    .fail(function() {
        $response.html('Error connecting to server');
    });
    return false; //prevents page refresh on form submit
});
</script>