<!DOCTYPE html>
<html>
<head>
<title>Welcome to SEEUS</title>
<link rel="stylesheet" type="text/css" href="css/content.css">
</head>
<body>
<div id="pageTitle">Email Verification</div>
<div id="focusDiv">
    <div id="errorDivContainer">
        <div id="errorDiv"></div>
    </div>
	<form>
		&nbsp<input type="text" name="verificationCode" placeholder="Verification Code">
		<br>
		<input type="submit" value="Verify">
		<br>
		<input type="submit" value="Send Code Again">
	</form>
</div>

<script>
var $verificationCodeField = $('input[name="verificationCode"]'),
    $errorContainer = $('#errorDivContainer');

$('form').submit(function() {
    $.post('php/Email_Verification/Check_Code.php', 
        {
            enteredCode: $verificationCodeField.val(),
        }
    )
    .done(function(data) {
        $errorContainer.html(data);
        data = JSON.parse(data);
        if (data.errorMessages.length == 0) {
            userInterface.refreshMenu();
            userInterface.loadContent('accountSettings');
        } else {
            $errorContainer.html(data.errorMessages);
        }
    })
    .fail(function() {
        $errorContainer.html('Error connecting to server');
    });
    return false; //prevents page refresh on form submit
});
</script>
</body>
</html>