<div id="viewTitle">Forgot Password</div>
<div id="viewContent">
    <div id="errorDivContainer">
        <div id="errorDiv"></div>
    </div>
	<form>
		&nbsp<input type="text" name="email" placeholder="Email">
		<br>
		<input type="submit" value="Send Code">
	</form>
</div>

<script>
    var $emailField = $('input[name="email"]'),
        $errorContainer = $('#errorDivContainer');
        
    
    $('form').submit(function() {
        $.post('php/Forgot_Password.php', 
            {
                email: $emailField.val()
            }
        )
        .done(function(errorMessages) {
            $errorContainer.html(errorMessages);
            errorMessages = JSON.parse(errorMessages);  
            if (errorMessages.length == 0) 
                userInterface.loadContent('email_verification');
            else
                $errorContainer.html(userInterface.arrayToHTML(errorMessages));
        })
        .fail(function() {
            $errorContainer.html('Error connecting to server');
        });
        return false;   //prevents refresh on form submit
    });
</script>