<!DOCTYPE html>
<html>
<head>
<title>Welcome to SEEUS</title>
<link rel="stylesheet" type="text/css" href="css/content.css">
</head>
<body>
<div id="pageTitle">Forgot Password</div>
<div id="focusDiv">
    <div id="errorDivContainer">
        <div id="errorDiv"></div>
    </div>
	<form>
		&nbsp<input type="text" name="email" placeholder="Email">
		<br>
		<input type="submit" value="Send Code">
	</form>
</div>

<script>
    var $emailField = $('input[name="email"]'),
        $errorContainer = $('#errorDivContainer');
        
    
    $('form').submit(function() {
        $.post('php/Forgot_Password.php', 
            {
                email: $emailField.val()
            }
        )
        .done(function(errorMessages) {
            $errorContainer.html(errorMessages);
            errorMessages = JSON.parse(errorMessages);  
            if (errorMessages.length == 0) 
                userInterface.loadContent('email_verification');
            else {
                var errorString = "";
                for (var i = 0; i < errorMessages.length; i++) {
                    errorString += errorMessages[i] + '<br>';
                }
                $errorContainer.html(errorString);
            }
        })
        .fail(function() {
            $errorContainer.html('Error connecting to server');
        });
        return false;   //prevents refresh on form submit
    });
</script>
</body>
</html>