<div id="viewTitle">Home</div>
<div class="viewMessage">Welcome to SEEUS, your campus safety service at EMU. To request an escort select one of the options below or call 734-487-3387 during our hours of operation.</div>
<div id="viewContent"><div id="subMenu">   
        <button id="loginButton" class="homeButton">Login</button>
        <button id="registerButton" class="homeButton">Register</button>
    </div>
</div> <!--viewContent-->

<script>
$('#loginButton').on('click', function() {
    userInterface.loadContent('login');
});

$('#registerButton').on('click', function() {
    userInterface.loadContent('register');
});
</script>