<div id="viewTitle">Login</div>
<div id="viewContent">
    <div id="responseContainer">
        <div id="response"></div>
    </div>
	<form>
		&nbsp<input type="text" name="email" placeholder="Email">
		<br>
		&nbsp<input type="password" name="password" placeholder="Password">
		<br>
		<input type="submit" value="Login">
	</form>
    <button id="forgotPassword">Forgot Password</button>
</div>

<script>
    var $emailField = $('input[name="email"]'),
        $passwordField = $('input[name="password"]'),
        $response = $('#response'),
        $forgotPasswordButton = $('#forgotPassword');
        

    $('form').submit(function() {
        $.post('php/Login.php', 
            {
                email: $emailField.val(),
                password: $passwordField.val()
            }
        )
        .done(function(data) {
            data = JSON.parse(data);  
            if (data.errorMessages.length == 0) {
                if (!data.emailVerified) {
                    userInterface.loadContent('email_verification');
                }
                else {
                    userInterface.refreshMenu();
                    userInterface.getUserType(function(userType) {
                        if (userType == 'authoritarian')
                            userInterface.loadContent('view_escorts');
                        else if (userType == 'user')
                            userInterface.loadContent('request');
                    });
                }
            } else {
                userInterface.writeErrorResponse($response, data.errorMessages);
            }
        })
        .fail(function() {
            userInterface.writeErrorResponse($response, 'Error connecting to server');
        });
        return false;   //prevents refresh on form submit
    });

    $forgotPasswordButton.on('click', function() {
        userInterface.loadContent('forgotPassword');
    })
</script>