<!DOCTYPE html>
<html>
<head>
<title>Welcome to SEEUS</title>
<link rel="stylesheet" type="text/css" href="css/content.css">
</head>
<body>
<div id="pageTitle">Login</div>
<div id="focusDiv">
    <div id="errorDivContainer">
        <div id="errorDiv"></div>
    </div>
	<form>
		&nbsp<input type="text" name="email" placeholder="Email">
		<br>
		&nbsp<input type="password" name="password" placeholder="Password">
		<br>
		<input type="submit" value="Login">
	</form>
    <button id="forgotPassword">Forgot Password</button>
</div>

<script>
    var $emailField = $('input[name="email"]'),
        $passwordField = $('input[name="password"]'),
        $errorContainer = $('#errorDivContainer'),
        $forgotPasswordButton = $('#forgotPassword');
        

    $('form').submit(function() {
        $.post('php/Login.php', 
            {
                email: $emailField.val(),
                password: $passwordField.val()
            }
        )
        .done(function(data) {
            $errorContainer.html(data);
            data = JSON.parse(data);  
            if (data.errorMessages.length == 0) {
                if (!data.emailVerified) {
                    userInterface.loadContent('email_verification');
                }
                else {
                    userInterface.refreshMenu();
                    userInterface.loadContent('home');
                }
            } else {
                $errorContainer.html(data.errorMessages);
            }
        })
        .fail(function() {
            $errorContainer.html('Error connecting to server');
        });
        return false;   //prevents refresh on form submit
    });

    $forgotPasswordButton.on('click', function() {
        userInterface.loadContent('forgotPassword');
    })
</script>
</body>
</html>