<div id="viewTitle">Register</div>
<div id="viewContent">
    <div id="errorDivContainer">
        <div id="errorDiv"></div>
    </div>
	<form>
		&nbsp&nbsp<input value="joseph@emich.edu" type="text" name="email" placeholder="Email"><span class=error>*</span>
		<br>
		&nbsp&nbsp<input value="testpass" type="password" name="password" placeholder="Password"><span class=error>*</span>
		<br>
		&nbsp&nbsp<input value="testpass" type="password" name="confirmPassword" placeholder="Confirm Password"><span class=error>*</span>
		<br>
		&nbsp&nbsp<input value="Jack" type="text" name="firstName" placeholder="First Name"><span class=error>*</span>
		<br>
		&nbsp&nbsp<input value="hammer" type="text" name="lastName" placeholder="Last Name"><span class=error>*</span>
		<br>
		&nbspE<input value="28372673" type="text" name="eid" placeholder="EID"><span class=error>*</span>
		<br>
		&nbsp&nbsp<input type="text" name="phoneNumber" placeholder="Phone Number"><span class=error>*</span>
		<br>
		<input type="submit" value="Register">
	</form>
    <div id="errorDiv">
    </div>
</div>

<script>
    var $emailField           = $('input[name="email"]'),
        $passwordField        = $('input[name="password"]'),
        $confirmPasswordField = $('input[name="confirmPassword"]'),
        $firstNameField       = $('input[name="firstName"]'),
        $lastNameField        = $('input[name="lastName"]'),
        $eidField             = $('input[name="eid"]'),
        $phoneNumberField     = $('input[name="phoneNumber"]'),
        $errorContainer       = $('#errorDivContainer');
    
    $('form').submit(function() {
        $.post('php/Register.php', 
            {
                email:           $emailField.val(),
                password:        $passwordField.val(),
                confirmPassword: $confirmPasswordField.val(),
                firstName:       $firstNameField.val(),
                lastName:        $lastNameField.val(),
                eid:             $eidField.val(),
                phoneNumber:     $phoneNumberField.val()
            }
        )
        .done(function(errorMessages) {
            errorMessages = JSON.parse(errorMessages);  
            if (errorMessages.length == 0) {
                userInterface.loadContent('email_verification');
            } else
                $errorContainer.html(userInterface.arrayToHTML(errorMessages));
        })
        .fail(function() {
            $errorContainer.html('Error connecting to server');
        });
        return false;   //prevents refresh on form submit
    });
</script>