<div id="viewTitle">Settings</div>
<div id="viewContent">
    <div id="responseContainer">
        <div id="response"></div>
    </div>

    <ul id="subMenu">
        <li id="addCampusLocationButton">Add Campus<br>Location</li>
        <li id="deleteCampusLocationButton">Delete Campus Location</li>
        <li id="hoursOfOperationButton">Change Hours of Operation</li>
        <li id="activateDeactiveKillswitchButton">Activate/Deactivate Killswitch</li>
    </ul>

    <br>
    <form>
        <div id="addCampusLocationContainer">
            <div id="addLocationDestinationContainer">
                <a href="#" id="addPickUpPointLink">Add a pick-up point</a>
                <input type="text" name="locationToAdd" placeholder="Location to Add">
            </div>
            <div id="addPickUpPointContainer">
                <a href="#" id="addLocationDestinationLink">Add a location/destination</a>
                <select name="newPickUpPointLocation">
                    <option disabled selected>Pick-up Point Location</option>
                </select>
                <input type="text" name="newPickUpPoint" placeholder="New pick-up point">
            </div>
        </div>
        <div id="deleteCampusLocationContainer">
            <div id="deleteLocationDestinationContainer">
                <a href="#" id="deletePickUpPointLink">Delete a pick-up point</a>
                <select name="locationToDelete">
                    <option disabled selected>Location to Delete</option>
                </select>
            </div>
            <div id="deletePickUpPointContainer">
                <a href="#" id="deleteLocationDestinationLink">Delete a location/destination</a>
                <select name="oldPickUpPointLocation">
                    <option disabled selected>Pick-up Point Location</option>
                </select>
                <select name="oldPickUpPoint">
                    <option disabled selected>Pick-up Point</option>
                </select>
            </div>
        </div>
        <div id="hoursOfOperationContainer">
            <table>
                <tr>
                    <th>Day of Week</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td><input type="time" name="sundayStart" /></td>
                    <td><input type="time" name="sundayEnd" /></td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td><input type="time" name="mondayStart" /></td>
                    <td><input type="time" name="mondayEnd" /></td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td><input type="time" name="tuesdayStart" /></td>
                    <td><input type="time" name="tuesdayEnd" /></td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td><input type="time" name="wednesdayStart" /></td>
                    <td><input type="time" name="wednesdayEnd" /></td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td><input type="time" name="thursdayStart" /></td>
                    <td><input type="time" name="thursdayEnd" /></td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td><input type="time" name="fridayStart" /></td>
                    <td><input type="time" name="fridayEnd" /></td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td><input type="time" name="saturdayStart" /></td>
                    <td><input type="time" name="saturdayEnd" /></td>
                </tr>
            </table>
        </div>
        <div id="activateDeactiveKillswitchContainer">
            <button type="button" id="killswitch"></button>
        </div>
        <br> <input type="submit" value="Submit">
    </form>
</div> <!--viewContent-->


<script>
//jQuery var declarations
var $response = $('#response'),
    
    //field containers
    $addCampusLocationContainer             = $('#addCampusLocationContainer'),
    $deleteCampusLocationContainer          = $('#deleteCampusLocationContainer'),
    $hoursOfOperationContainer        = $('#hoursOfOperationContainer'),
    $activateDeactiveKillswitchContainer = $('#activateDeactiveKillswitchContainer'),

    //settings buttons
    $submitButton                     = $('input[type="submit"]'),
    $addCampusLocationButton                = $('#addCampusLocationButton'),
    $deleteCampusLocationButton             = $('#deleteCampusLocationButton'),
    $hoursOfOperationButton           = $('#hoursOfOperationButton'),
    $activateDeactiveKillswitchButton = $('#activateDeactiveKillswitchButton'),

    //hours of operation fields
    $sundayStart           = $('input[name="sundayStart"]'),
    $sundayEnd             = $('input[name="sundayEnd"]'),
    $mondayStart           = $('input[name="mondayStart"]'),
    $mondayEnd             = $('input[name="mondayEnd"]'),
    $tuesdayStart          = $('input[name="tuesdayStart"]'),
    $tuesdayEnd            = $('input[name="tuesdayEnd"]'),
    $wednesdayStart        = $('input[name="wednesdayStart"]'),
    $wednesdayEnd          = $('input[name="wednesdayEnd"]'),
    $thursdayStart         = $('input[name="thursdayStart"]'),
    $thursdayEnd           = $('input[name="thursdayEnd"]'),
    $fridayStart           = $('input[name="fridayStart"]'),
    $fridayEnd             = $('input[name="fridayEnd"]'),
    $saturdayStart         = $('input[name="saturdayStart"]'),
    $saturdayEnd           = $('input[name="saturdayEnd"]'),

    $killswitch            = $('#killswitch'),
    
    //Adding campus locations
    $addPickUpPointContainer = $('#addPickUpPointContainer'),
    $addLocationDestinationContainer = $('#addLocationDestinationContainer'),
    $addLocationDestinationLink = $('#addLocationDestinationLink'),
    $addPickUpPointLink = $('#addPickUpPointLink'),
    $locationToAddField    = $('input[name="locationToAdd"]'),
    $newPickUpPointLocationField = $('select[name="newPickUpPointLocation"]'),
    $newPickUpPointField = $('input[name="newPickUpPoint"]');

    //Deleting campus locations
    $deletePickUpPointContainer = $('#deletePickUpPointContainer'),
    $deleteLocationDestinationContainer = $('#deleteLocationDestinationContainer'),
    $deleteLocationDestinationLink = $('#deleteLocationDestinationLink'),
    $deletePickUpPointLink = $('#deletePickUpPointLink'),
    $locationToDeleteField    = $('select[name="locationToDelete"]'),
    $oldPickUpPointLocationField = $('select[name="oldPickUpPointLocation"]'),
    $oldPickUpPointField = $('select[name="oldPickUpPoint"]');


$.post('php/Get_Campus_Locations.php')
.done(function(listOfLocations) {
    listOfLocations = JSON.parse(listOfLocations);
    userInterface.populateSelectOptions($locationToDeleteField, listOfLocations);
    userInterface.populateSelectOptions($newPickUpPointLocationField, listOfLocations);
    userInterface.populateSelectOptions($oldPickUpPointLocationField, listOfLocations);
});

$.post('php/Get_Hours_Of_Operation.php')
.done(function(hoursOfOperation) {
    hoursOfOperation = JSON.parse(hoursOfOperation);
    $sundayStart.val(hoursOfOperation.sundayStart);
    $sundayEnd.val(hoursOfOperation.sundayEnd);
    $mondayStart.val(hoursOfOperation.mondayStart);
    $mondayEnd.val(hoursOfOperation.mondayEnd);
    $tuesdayStart.val(hoursOfOperation.tuesdayStart);
    $tuesdayEnd.val(hoursOfOperation.tuesdayEnd);
    $wednesdayStart.val(hoursOfOperation.wednesdayStart);
    $wednesdayEnd.val(hoursOfOperation.wednesdayEnd);
    $thursdayStart.val(hoursOfOperation.thursdayStart);
    $thursdayEnd.val(hoursOfOperation.thursdayEnd);
    $fridayStart.val(hoursOfOperation.fridayStart);
    $fridayEnd.val(hoursOfOperation.fridayEnd);
    $saturdayStart.val(hoursOfOperation.saturdayStart);
    $saturdayEnd.val(hoursOfOperation.saturdayEnd);
});

var killswitchIsActive;
function updateKillswitchStatus() {
    $.post('php/Get_Killswitch_Status.php')
    .done(function(isActive) {
        //converting php boolean to javascript boolean
        if (isActive == 0) killswitchIsActive = false;
        else killswitchIsActive = true;
        
        if (killswitchIsActive) {
            $killswitch.attr("class", "active");
            $killswitch.html("Killswitch Status: Active");
        } else {
            $killswitch.removeAttr("id");
            $killswitch.html("Killswitch Status: Inactive");
        }
    });
}
updateKillswitchStatus();

function resetMenu($button, $container) {
    $submitButton.show();
    $addCampusLocationButton.removeAttr("class");
    $deleteCampusLocationButton.removeAttr("class");
    $hoursOfOperationButton.removeAttr("class");
    $activateDeactiveKillswitchButton.removeAttr("class");
    $addCampusLocationContainer.hide();
    $deleteCampusLocationContainer.hide();
    $hoursOfOperationContainer.hide();
    $activateDeactiveKillswitchContainer.hide();
    $response.empty();
    $button.attr("class", "active");
    $container.show();
}

//interface logic for adding campus locations
$addLocationDestinationLink.on('click', function() {
    $addPickUpPointContainer.hide();
    $addLocationDestinationContainer.show();
});
$addLocationDestinationLink.click();

$addPickUpPointLink.on('click', function() {
    $addLocationDestinationContainer.hide();
    $addPickUpPointContainer.show();
});

//interface logic for deleting campus locations
$deleteLocationDestinationLink.on('click', function() {
    $deletePickUpPointContainer.hide();
    $deleteLocationDestinationContainer.show();
});
$deleteLocationDestinationLink.click();

$deletePickUpPointLink.on('click', function() {
    $deleteLocationDestinationContainer.hide();
    $deletePickUpPointContainer.show();
});

$oldPickUpPointLocationField.on('change', function() {
    $.post('php/Get_Pick_Up_Points.php', 
        {
            location: $oldPickUpPointLocationField.val()
        }
    )
    .done(function(pickUpPoints) {
        pickUpPoints = JSON.parse(pickUpPoints);
        userInterface.populateSelectOptions($oldPickUpPointField, pickUpPoints);
    });
});

//interface submenu logic
$addCampusLocationButton.on('click', function() {
    resetMenu($(this), $addCampusLocationContainer);
});

$deleteCampusLocationButton.on('click', function() {
    resetMenu($(this), $deleteCampusLocationContainer);
});

$hoursOfOperationButton.on('click', function() {
    resetMenu($(this), $hoursOfOperationContainer);
});

$activateDeactiveKillswitchButton.on('click', function() {
    resetMenu($(this), $activateDeactiveKillswitchContainer);
    $submitButton.hide();
});

$addCampusLocationButton.click();

$killswitch.on('click', function() {    //$activateDeactiveKillswitchContainer is visible
    $.post('php/Settings/Set_Killswitch_Status.php',
        {
            setToActive: !killswitchIsActive
        }
    ).done(function(response) {
        console.log(response);
        updateKillswitchStatus();
        userInterface.updateStatusDisplay();
    });
});

/*
* form submission
*/
$('form').submit(function() {
    //setting url and data to send based on which fields are visible
    if ($deleteCampusLocationContainer.is(':visible')) {
        if ($deleteLocationDestinationContainer.is(':visible')) {
            var url = 'php/Settings/Delete_Campus_Location.php';
            var dataToSend = {
                campusLocationToDelete: $locationToDeleteField.val()
            }
        } else { //$deletePickUpPointContainer is visible
            var url = 'php/Settings/Delete_Pick_Up_Point.php';
            var dataToSend = {
                campusLocation: $oldPickUpPointLocationField.val(),
                oldPickUpPoint: $oldPickUpPointField.val()
            };
        }
    } else if ($addCampusLocationContainer.is(':visible')) {
        if ($addLocationDestinationContainer.is(':visible')) {
            var url = 'php/Settings/Add_Campus_Location.php';
            var dataToSend = {
                campusLocationToAdd: $locationToAddField.val()
            }
        } else { //$addPickUpPointContainer is visible
            var url = 'php/Settings/Add_Pick_Up_Point.php';
            var dataToSend = {
                campusLocation: $newPickUpPointLocationField.val(),
                newPickUpPoint: $newPickUpPointField.val()
            };
        }
    } else if ($hoursOfOperationContainer.is(':visible')) {
        var url = 'php/Settings/Set_Hours_Of_Operation.php';
        var dataToSend = {
            sundayStart:    $sundayStart.val(),
            sundayEnd:      $sundayEnd.val(),
            mondayStart:    $mondayStart.val(),
            mondayEnd:      $mondayEnd.val(),
            tuesdayStart:   $tuesdayStart.val(),
            tuesdayEnd:     $tuesdayEnd.val(),
            wednesdayStart: $wednesdayStart.val(),
            wednesdayEnd:   $wednesdayEnd.val(),
            thursdayStart:  $thursdayStart.val(),
            thursdayEnd:    $thursdayEnd.val(),
            fridayStart:    $fridayStart.val(),
            fridayEnd:      $fridayEnd.val(),
            saturdayStart:  $saturdayStart.val(),
            saturdayEnd:    $saturdayEnd.val()
        }
    } 
    
    //sending and receving the data
    $.post(url, dataToSend)
    .done(function(errorMessages) {
        $response.html(errorMessages);      //testing
        errorMessages = JSON.parse(errorMessages);  
        $response.empty();
        if (errorMessages.length == 0)
            userInterface.writeSuccessResponse($response, 'Change was successful');
        else //there are error messages
            userInterface.writeErrorResponse($response, userInterface.arrayToHTML(errorMessages));
    });
    return false;   //prevents refresh on form submit
});
</script>